
body {
  margin: auto;
  max-width: 600px;
  background-image: url(https://images.unsplash.com/photo-1538356343135-65849f66b4a1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDN8fG1vbmV5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60);
  color: black;
  font-family: Georgia, serif;
}

p {
  margin: auto;
  max-width: 600px;
  background-color: white;

 
}

h1 {
  font-family: Georgia, serif;
  }
